.banner {
  position: relative;
  margin-bottom: get-size('900');
  padding: 0 get-size('gutter');

  &__content {
    padding: get-size('600');
    border-bottom: 0.5rem solid get-color('primary');
    @include media-query('md') {
      position: absolute;
      z-index: 10;
      width: max-content;
      bottom: calc(-1 * var(--size-900));
      margin-left: var(--container-padding);
    }
  }
}
