.page-content {
  @include apply-utility('measure', 'major');

  blockquote {
    border-inline-start: get-size('xxs') solid get-color('primary');
    padding: get-size('100') get-size('900') get-size('100') get-size('gutter');
    font-style: italic;
    font-size: get-size('300');
    @include apply-utility('weight', 'bold');
    @include apply-utility('leading', 'tight');
  }
  img {
    width: 100%;
    display: block;
  }

  h2 {
    font-size: get-size('400');
  }

  h3 {
    font-size: get-size('400');
  }

  a {
    text-decoration: underline;
  }

  ol,
  ul {
    padding-inline-start: get-size('600');
  }

  li + li {
    margin-top: get-size('100');
  }

  h2,
  h3 {
    --flow-space: #{get-size('700')};
    @include apply-utility('measure', 'short');
    text-transform: none;
  }
  h2 + *,
  h3 + * {
    --flow-space: #{get-size('100')};
  }
}
