.site-prefoot {
  input {
    all: unset;
    background-color: transparent;
    border-bottom: 1px solid rgba(get-color('white'), 0.1);
    height: get-size('900');
    width: 100%;
    @include apply-utility('weight', 'light');
    font-size: get-size('300');

    &::placeholder {
      opacity: 0.4;
      @include apply-utility('opc', '70');
    }

    &:focus {
      outline: none;
      border-color: get-color('primary');
    }
  }

  button.site-prefoot__button {
    justify-content: center;
    align-items: center;
    height: get-size('900');
    align-self: flex-start;
    padding: 0 get-size('200');
  }
}
