{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css']%}

{% set bannerTitle = cases.title %}
{% set bannerSummary = cases.summary %}
{% set bannerImage = cases.mainImage %}
{% set bannerImageAlt = cases.mainImage.alt %}

{% block content %}
	{% include "partials/banner.njk" %}
	<div class="page-content [ flow ] [ pt-900 pb-900 ]">
		{{ cases.body | markdownify | safe }}
	</div>
{% endblock %}
