{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="da">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		{% include "partials/meta-info.njk" %}
		<link rel="preload" href="/fonts/Oswald-SemiBold.woff" as="font" type="font/woff" crossorigin>
		<link rel="preload" href="/fonts/merriweather-light.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/merriweather-regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/merriweather-bold.woff2" as="font" type="font/woff2" crossorigin>
		<style>{% include "css/critical.css" %}{% include "css/tokens.css" %}{% block css %}{% endblock %}
		</style>
		{# Add facility for pages to delare an array of critical styles #}
		{% if pageCriticalStyles %}
			{% for item in pageCriticalStyles %}
				<style>{% include item %}</style>
			{% endfor %}
		{% endif %}
		{# Add facility for pages to declare an array of stylesheet paths #}
		{% if pageStylesheets %}
			{% for item in pageStylesheets %}
				<link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'"/>
			{% endfor %}
		{% endif %}
	</head>
	<body>
		{% include "partials/site-head.njk" %}
		<main class="container">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</main>
		{% include "partials/site-pre-foot.njk" %}
		{% include "partials/site-foot.njk" %}
		<script defer>
			{% include "js/main.js" %}
{% include "js/quicklink.js" %}
window.addEventListener('load', () => {
quicklink.listen({
ignores: [(uri, elem) => elem.hasAttribute('noprefetch')]
});
});
		</script>
	</body>
</html>
