{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css']%}

{% set bannerTitle = pages.title %}
{% set bannerSummary = pages.summary %}
{% set bannerImage = pages.mainImage %}
{% set bannerImageAlt = pages.mainImage.alt %}

{% block content %}
	{% include "partials/banner.njk" %}
	<div class="page-content [ flow ] [ pt-900 pb-900 ]">
		{{ pages.body | markdownify | safe }}
	</div>
{% endblock %}

{# 
<div>
	sdsdsdsd

{% if pages.content %}
    {% for item in pages.content %}
        {% include "partials/"+ item._type +".njk" %}
    {% endfor %}
{% endif %}
</div> #}
