{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css']%}
{% set metaTitle = pages.meta.title %}
{% set metaDesc = pages.meta.description %}
{% set bannerTitle = pages.title %}
{% set bannerSummary = pages.summary %}

{% block content %}
	{% include "partials/banner.njk" %}
	<div class="[ d-grid grid-cols-6 gap-800 pt-800 pb-800 ]">
		<article class="page-content [ flow ] [ span-6 md:span-3 lg:span-4 ]">
			{% if pages.mainImage %}<img width="480" height="158" sizes="(min-width: 48rem) 60vw, 90vw" src="{% croppedUrlFor pages.mainImage, 480, 267 %}" srcset="{% croppedUrlFor pages.mainImage, 480, 267 %} 480w, {% croppedUrlFor pages.mainImage, 768, 427 %} 768w, {% croppedUrlFor pages.mainImage, 1024, 569 %} 1024w, {% croppedUrlFor pages.mainImage, 1280, 711 %} 1280w, {% croppedUrlFor pages.mainImage, 1600, 890 %} 1600w" alt="{{ pages.mainImage.alt }}"/>
			{% endif %}
			{{ pages.body | markdownify | safe }}
		</article>
		<aside class="[ span-6 md:span-3 lg:span-2 ]">
			{% include "partials/contact-form.njk" %}
		</aside>
	</div>
{% endblock %}

{# 
<div>
	sdsdsdsd

{% if pages.content %}
    {% for item in pages.content %}
        {% include "partials/"+ item._type +".njk" %}
    {% endfor %}
{% endif %}
</div> #}
