$gorko-size-scale: (
  'none': '0px',
  'gutter': var(--gutter),
  'xxs': 8px,
  'xs': 0.875rem,
  'sm': 0.9375rem,
  'base': 1rem,
  '100': var(--size-100, 0.7813rem),
  '200': var(--size-200, 0.9375rem),
  '250': calc(var(--size-200, 0.9375rem) * 1.15),
  '300': var(--size-300, 1.125rem),
  '400': var(--size-400, 1.35rem),
  '500': var(--size-500, 1.62rem),
  '600': var(--size-600, 1.9438rem),
  '700': var(--size-700, 2.3325rem),
  '800': var(--size-800, 2.7994rem),
  '900': var(--size-900, 3.3594rem),
  'lg': var(--size-lg, 4.0313rem),
  'xl': var(--size-xl, 4.8375rem),
  'tiny': '10rem',
  'short': '15rem',
  'mid': '21rem',
  'mid-lg': '23rem',
  'long': '26rem',
  'major': '30rem',
  'major-xl': '40rem',
  'auto': 'auto',
  'full': '100%',
  '2-6': '33.333333%',
  '2-5': '40%',
  '1-2': '50%',
  '3-5': '60%',
  '4-6': '66.666667%',
  '4-5': '80%',
  'container': var(--container-padding),
);

$gorko-colors: (
  'primary': #f29100,
  'primary-shade': #ae6800,
  'secondary-glare-light': #37544f,
  'secondary-glare': #2a433f,
  'secondary': #0f322d,
  'secondary-shade': #081f1c,
  'light-glare': #f0ede9,
  'light': #e8e4df,
  'light-shade': #dbd6d0,
  'white': #faf7f4,
  'black': #000,
);

$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background',
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color',
  ),
  'flow-space': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--flow-space',
  ),
  'auto-grid-gap': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--auto-grid-gap',
  ),
  'grid-size': (
    'items': (
      'micro': '12rem',
      'short': '16rem',
      'mid': '20rem',
      'major': '26rem',
    ),
    'output': 'standard',
    'property': '--auto-grid-min-size',
  ),
  'font': (
    'items': (
      'base': '' merriweather ', Arial, sans-serif',
      'heading': '' oswald ', Roboto, Arial, sans-serif',
    ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'm': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin',
  ),
  'mt': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-block-start',
  ),
  'mr': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-inline-end',
  ),
  'mb': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-block-end',
  ),
  'ml': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-inline-start',
  ),
  'p': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding',
  ),
  'pt': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-block-start',
  ),
  'pr': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-inline-end',
  ),
  'pb': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-block-end',
  ),
  'pl': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'padding-inline-start',
  ),
  'pos': (
    'items': (
      'absolute': absolute,
      'relative': relative,
    ),
    'output': 'standard',
    'property': 'position',
  ),
  'text-transform': (
    'items': (
      'none': none,
      'up': uppercase,
      'low': lowercase,
    ),
    'output': 'standard',
    'property': 'text-transform',
  ),
  'w': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'width',
  ),
  'h': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'height',
  ),
  'line-clamp-size': (
    'items': (
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
    ),
    'output': 'standard',
    'property': '--line-clamp-size',
  ),
  'point-event': (
    'items': (
      'auto': auto,
      'none': none,
    ),
    'output': 'standard',
    'property': 'pointer-events',
  ),
  'd': (
    'items': (
      'hidden': none,
      'visible': block,
      'flex': flex,
      'grid': grid,
    ),
    'output': 'responsive',
    'property': 'display',
  ),
  'flex': (
    'items': (
      'row': 'row',
      'col': 'column',
    ),
    'output': 'responsive',
    'property': 'flex-direction',
  ),
  'items': (
    'items': (
      'start': 'flex-start',
      'items-end': 'flex-end',
      'items-center': 'center',
      'baseline': 'baseline',
      'stretch': 'stretch',
    ),
    'output': 'responsive',
    'property': 'align-items',
  ),
  'grid': (
    'items': (
      '1': 'repeat(1, 1fr)',
      '2': 'repeat(2, 1fr)',
      '3': 'repeat(3, 1fr)',
      '4': 'repeat(4, 1fr)',
      '5': 'repeat(5, 1fr)',
      '6': 'repeat(6, 1fr)',
      '7': 'repeat(7, 1fr)',
      '8': 'repeat(8, 1fr)',
      '9': 'repeat(9, 1fr)',
      '10': 'repeat(10, 1fr)',
      '11': 'repeat(11, 1fr)',
      '12': 'repeat(12, 1fr)',
    ),
    'output': 'responsive',
    'property': 'grid-template-columns',
  ),
  'grid-cols': (
    'items': (
      '1': 'repeat(1, minmax(0, 1fr))',
      '2': 'repeat(2, minmax(0, 1fr))',
      '3': 'repeat(3, minmax(0, 1fr))',
      '4': 'repeat(4, minmax(0, 1fr))',
      '5': 'repeat(5, minmax(0, 1fr))',
      '6': 'repeat(6, minmax(0, 1fr))',
      '7': 'repeat(7, minmax(0, 1fr))',
      '8': 'repeat(8, minmax(0, 1fr))',
      '9': 'repeat(9, minmax(0, 1fr))',
      '10': 'repeat(10, minmax(0, 1fr))',
      '11': 'repeat(11, minmax(0, 1fr))',
      '12': 'repeat(12, minmax(0, 1fr))',
    ),
    'output': 'responsive',
    'property': 'grid-template-columns',
  ),
  'span': (
    'items': (
      'auto': 'auto',
      '1': 'span 1 / span 1',
      '2': 'span 2 / span 2',
      '3': 'span 3 / span 3',
      '4': 'span 4 / span 4',
      '5': 'span 5 / span 5',
      '6': 'span 6 / span 6',
      '7': 'span 7 / span 7',
      '8': 'span 8 / span 8',
      '9': 'span 9 / span 9',
      '10': 'span 10 / span 10',
      '11': 'span 11 / span 11',
      '12': 'span 12 / span 12',
    ),
    'output': 'responsive',
    'property': 'grid-column',
  ),
  'gap': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'gap',
  ),
  'text-space': (
    'items': (
      'tight': - 0.05em,
      'loos': 0.02em,
    ),
    'output': 'standard',
    'property': 'letter-spacing',
  ),
  'leading': (
    'items': (
      'loose': 1.7,
      'normal': 1.5,
      'compact': 1.4,
      'tight': 1.3,
      'flat': '1.1',
      'none': '1',
    ),
    'output': 'standard',
    'property': 'line-height',
  ),
  'measure': (
    'items': (
      'micro-xs': '15ch',
      'micro': '20ch',
      'micro-xl': '24ch',
      'compact': '30ch',
      'short': '40ch',
      'mid': '54ch',
      'normal': '65ch',
      'long': '74ch',
      'major': '85ch',
    ),
    'output': 'responsive',
    'property': 'max-width',
  ),
  'text': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'font-size',
  ),
  'weight': (
    'items': (
      'light': 300,
      'normal': 400,
      'mid': 500,
      'semi': 600,
      'bold': 700,
      'black': 900,
    ),
    'output': 'standard',
    'property': 'font-weight',
  ),
  'cursor': (
    'items': (
      'auto': auto,
      'pointer': pointer,
    ),
    'output': 'standard',
    'property': 'cursor',
  ),
  'opc': (
    items: (
      '0': 0%,
      '10': 10%,
      '30': 30%,
      '50': 50%,
      '70': 70%,
      '80': 80%,
      '90': 90%,
    ),
    output: 'standard',
    property: 'opacity',
  ),
  't-align': (
    items: (
      'left': left,
      'center': center,
      'right': right,
    ),
    output: 'responsive',
    property: 'text-align',
  ),
  'rounded': (
    items: (
      'sm': 0.2rem,
      'md': 0.4rem,
      'lg': 0.6rem,
    ),
    output: 'standard',
    property: 'border-radius',
  ),
  'z': (
    items: (
      '10': 10,
      '20': 20,
      '30': 30,
    ),
    output: 'standard',
    property: 'z-index',
  ),
  'breakpoints': (
    'sm': '(min-width: 30em)',
    'md': '(min-width: 48em)',
    'lg': '(min-width: 62em)',
    'xl': '(min-width: 80em)',
  ),
);
