---
layout: layouts/base.njk
---

{% set bannerTitle = service.title %}
{% set bannerImage = service.mainImage %}
{% set bannerImageAlt = service.mainImage.alt %}

{% include "partials/banner.njk" %}

<div>
    <h1>{{ service.title }}</h1>
</div>