---
layout: "layouts/base.njk"
permalink: "/{{ bureauet.slug.current }}/"
---

{% set pageCriticalStyles = ['css/home.css']%}
{% set title = bureauet.title %}

{% block content %}
	<h1>{{ title }}</h1>
{% endblock %}
