---
layout: "layouts/services/individual.njk"
pagination:
    data: services
    size: 1
    alias: services
    addAllPagesToCollections: true
permalink: "/{{ servicePage.slug.current }}/{{ services.slug.current }}/"
---