<section class="[ full-bleed ] [ bg-secondary-glare-light color-white pt-900 pb-600 ]">
	<div class="[ container ]">
		<div class="[ flow ] [ flow-space-200 ]">
			<h1 class="[ text-800 measure-micro-xl ]">{{ bannerTitle }}</h1>
			<p class="[ text-base measure-long ]">{{ bannerSummary }}</p>
		</div>
	</div>
</section>
