<section class="[ full-bleed ] [ bg-secondary-glare-light color-white pt-900 pb-600 ]">
	<div class="[ container ]">
		<div class="[ flow ] [ flow-space-200 measure-mid ]">
			<h1 class="[ text-900  ]">{{ bannerTitle }}</h1>
			<p class="[ weight-bold ]">{{ bannerSummary }}</p>
		</div>
	</div>
</section>
