<div class="[ bg-white ]">
	<div class="[ p-gutter bg-secondary color-white ]">
		<p class="h5 [ leading-tight ]">Hvis du har brug for hjælp kan du kontakte os her</p>
	</div>
	<div class="[ p-gutter ]">
		<p class="[ text-xs mb-300 opc-80 ]">Hvis du vil have et all-in-one-bureau, der altid er med dig, men som også tør at udfordre, så lad os mødes til en snak og en kop brandvarm kaffe.</p>
		<form class="contact-form [ flow ] [ flow-space-200 ]" name="contact" method="POST" action="/tak.html" netlify-honeypot="bot-field" data-netlify="true">
			<label>
				<span>Navn</span>
				<input type="text" name="fornavn" placeholder="Dit navn">
			</label>
			<label>
				<span>Telefon</span>
				<input type="text" name="efternavn" placeholder="Telefonnummer">
			</label>
			<label>
				<span>Beskrivelse</span>
				<textarea name="tekst" placeholder="Indtast din beskrivelse"></textarea>
			</label>
			<button class="btn [ w-full cursor-pointer ]" data-type="primary">Bliv kontaktet</button>
			<p class="d-hidden">
				<label>Don’t fill this out if you're human:
					<input name="bot-field"/></label>
			</p>
		</form>
	</div>
</div>
