<section class="hero [ full-bleed ]">
	<div class="hero__inner-wrapper">
		<div class="[ image-color-overlay ]">
			<video class="hero__video" muted="muted" autoplay loop="loop" playsinline="" preload="auto" class="video">
				<source src="{{ home.hero.video }}" type="video/mp4">
			</video>
		</div>
		<div class="hero__content [ bg-secondary color-white text-800 lg:text-lg ]">
			<span class="[ text-transform-up ]">{{ home.hero.text }}</span>
			<h1>{{ home.hero.headline }}</h1>
		</div>
	</div>
</section>
