<article class="intro">
	{{ '/src/_includes/partials/svg/brand-icon.svg' | svgContents("intro__icon color-secondary fill-current") | safe }}
	<p class="intro__text [ text-400 measure-mid ]">{{ home.intro }}</p>
</article>
