<header class="site-head [ container ]">
	<div class="site-head__inner-wrapper">
		<a class="site-head__logo" aria-label="{{ site.name }}" href="/">{{ '/src/_includes/partials/svg/logo.svg' | svgContents("fill-current h-500 md:h-400") | safe }}</a>
		<nav class="site-head__main-nav">
			<ul class="site-head__main-nav__list">
				{% for item in mainPages %}
					<li>
						<a class="[ font-heading text-400 md:text-200 ]" {{ helpers.getLinkActiveState(("/"+ item.slug.current +"/"), page.url) | safe }} href="/{{ item.slug.current }}/">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
