<footer class="site-foot bg-secondary-glare p-gutter color-light-glare text-xs">
	<div class=" bg-secondary pt-900 pb-900">
		<div class="site-foot__inner-wrapper container">
			<div class="[ flow flow-space-200 ]">
				{{ '/src/_includes/partials/svg/logo.svg' | svgContents("fill-current h-400") | safe }}
				<div>
					<p>{{ site.address }}<br/>{{ site.zip }}<br/>Cvr:
						{{ site.cvr }}</p>
				</div>
				<ul class="contact">
					<li>
						<span>Tel:</span>
						<a href="tel:{{ site.phone }}">{{ site.phone }}</a>
					</li>
					<li>
						<span>Mail:</span>
						<a href="mailto:{{ site.mail }}">{{ site.mail }}</a>
					</li>
				</ul>
				<ul class="socialmedia">
					<li>
						<a href="">{{ '/src/_includes/partials/svg/facebook.svg' | svgContents("fill-current h-xs") | safe }}</a>
					</li>
					<li>
						<a href="">{{ '/src/_includes/partials/svg/linkedin.svg' | svgContents("fill-current h-xs") | safe }}</a>
					</li>
				</ul>
			</div>
			<hr>
			<div class="[ flow flow-space-400 ]">
				<p class="h5">{{ site.footer.colTwoTitle }}</p>
				<ul class="site-foot__service-links">
					{% for item in services %}
						<li>
							<a href="/{{ servicePage.slug.current }}/{{ item.slug.current }}/">
								<div>
									{% if item.icon %}
										{{ item.icon | safe }}
									{% endif %}
								</div>
								<span>
									{{ item.title }}
								</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<hr>
			<div class="[ flow flow-space-400 ]">
				<p class="h5">{{ site.footer.colThreeTitle }}</p>
				{% for item in site.footer.images %}
					<img class="icon-image" loading="lazy" width="400" height="250" srcset="{% imageUrlFor item, 200 %} 1x, {% imageUrlFor item, 400 %} 2x" alt="{{ item.alt }}">
				{% endfor %}
			</div>

		</div>
	</div>
</footer>
